<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ALL Users</title>
        <style>
            table,td, th{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <!-- <th>Password</th> -->
                <th>Edit Info</th>
            </tr>
            <!-- <tr>
                <td>1234</td>
                <td>abc@gmail.com</td>
                <td>abc</td>
                <td>abc@786123</td>
                
            </tr> -->

            <% for(user of users) { %>
                <tr>
                    <td> <%= user.id %> </td>
                    <td> <%= user.email %> </td>
                    <td> <%= user.username %> </td>
                    <!-- <td> <%= user.password %> </td> -->
                    <td>
                        <form method="GET" action="/user/<%= user.id %>/edit">
                            <button style="background-color: yellow;">Edit username</button>
                        </form>
                    </td>    
                </tr>
            <% } %>

        </table>
    </body>
</html>


   
        

